@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto+Condensed:wght@300&display=swap');

$color-principal: #333;
$ancho:100%;
$alto:75px;
$font:1rem;

/* reset de estilos por defecto */

* {
  font-family: "Poppins", sans-serif;
  font-size: auto;
  margin: auto;
  padding: 0px;
  list-style: none;
}

body{
  font-weight:bold;
}

#contenedor{
    width: $ancho;
    
    background-color: rgb(255, 255, 255);
    #barra-de-navegación{
        font-size: $font;
        /*nesting o anidación   */
    }
}


@media screen and (max-width: 768px) {
  /* Estilos CSS para pantallas de hasta 768px de ancho */
  #logo-de-nav{
    display: none;
  }
}


#carrousel-de-imagenes {
  width: auto;
}

#slider1 {
 height: 800px;
}

#slider2 {
  height: 800px;
}

#slider3 {
  height: 800px;
}

#custom-hover:hover{
color:hotpink;
}