@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Condensed:wght@300&display=swap');

/* reset de estilos por defecto */
*{
    font-family: 'Poppins', sans-serif;
    font-size: 20       px;
    font-weight: 700;
    margin:0;
    padding:0;
    list-style: none;
}

                    