@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Condensed:wght@300&display=swap');

html, body{
    width: 100%; height: 100%;
    background-color: bisque;
}

.logo_container span{
    color: aqua;
    background-color: black;
    font-size: 40px;
    font-style: italic;
    width: 50%;
}
/* reset de estilos por defecto */
*{
    font-family: 'Poppins', sans-serif;
    font-size: 20       px;
    font-weight: 700;
    margin:0;
    padding:0;
    list-style: none;
}



.navegacion {
    background-color: rgb(197, 34, 34);
    border: 1px solid blue;
    
}

.navegacion .logo_container{
    background-color: white;
    width: 100%;
}

.logo_container img {
    width: 50px;
}

.form_control .mensaje{
    position: relative;
    bottom: 185px;
}

.search_container{
 position: relative;
display: flex;
justify-content: center;
align-items: center;
border: 2px black;
gap: 20px;
}

.bottom{
    color: rgb(0, 0, 0);
    font-weight: 2000;
}

.eslogan_icono{
    bottom: 20px;
}

.grid.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px; 
}

.item{
    background-color: chartreuse;
    border: 1px solid;
}



@media (max-width:480px ) {
    .navegacion .search_container {
        display: flex;
        grid-template-columns: auto;
        flex-direction: column;
        width: 20%;

    }
}

/* ESTILOS AUXILIARES */
.container section, .container-fluid section {
    height: 100px;
    border: 1px solid;
    }
    
    .container section.row:nth-child(1) {
        background-color: chartreuse;
    }
    
    .container section.row:nth-child(2) {
        background-color:blue ;
    }
    
    .container section.row:nth-child(3) {
        background-color: orange;
    }
    
    .container section.row:nth-child(4) {
        background-color: crimson;
    }
    
    .container div{
        border: 2px solid;
    }

    -------------

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Condensed:wght@300&display=swap");
/* reset de estilos por defecto */
body{
  background-color: rgb(194, 114, 114);
}

* {
  font-family: "Poppins", sans-serif;
  font-size: 20 px;
  font-weight: 700;
  margin: 0;
  padding: 0px;
  list-style: none;
}

.botón{
  background-color: rgb(158, 37, 37);
}

@media screen and (max-width: 768px) {
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea igual o menor a 768px */
  img {
    display: none;
  }
}

